.footer {
	display: grid;
	align-items: center;

	min-height: 72px;
	padding: 25px 32px;

	color: var(--white);
	background-color: var(--primary);

	font-size: 16px;
	line-height: 16px;
	grid-template-columns: auto 1fr auto;
	gap: 40px;
	grid-template-areas:
		"link1 link2 link3"
}

.footer a:hover {
	color: var(--gray-light);
}

.link1 {
	grid-area: link1;
}

.link2 {
	grid-area: link2;
	justify-self: flex-end;
}

.link3 {
	grid-area: link3;
}

@media (width <= 765px) {
	.footer {
		grid-template-columns: auto;

		justify-content: center;
		gap: 20px;
		grid-template-areas:
			"link1"
			"link2"
			"link3";
	}

	.link1,
	.link2,
	.link3 {
		justify-self: center;

		/* margin: 10px 0; */
	}
}